body {
	background-color: white;
	color: black;
}

.button {
	background-color: #dee6f5;
	border-color: #e1ebff;
	color: black;
}

#infobar {
	background-color: #e8e8e8;
	color: black;
}

#title {
	color: #153c50;
}

.input {
	box-shadow: 0 0 0 2px #4E4E4E;
}

.input_focus {
	box-shadow: 0 0 0 6px #4E4E4E !important;
}

.ps__thumb-y {
	background-color: black !important;
}