body {
	background-color: #c6eaf3;
	color: black;
}

.button {
	background-color: #cde2d6;
	border-color: #d5ecde;
	color: black;
}

#infobar {
	background-color: #ADD6E0;
	color: black;
}

#title {
	color: #153c50;
}

.input {
	box-shadow: 0 0 0 2px #5c7c84;
}

.input_focus {
	box-shadow: 0 0 0 6px #5c7c84 !important;
}

.ps__thumb-y {
	background-color: black !important;
}