body {
	background-color: #ADD6E0;
	color: black;
}

.button {
	background-color: #bbd1ff;
	border-color: #bdd3ff;
	color: black;
}

#infobar {
	background-color: #c6eaf3;
	color: black;
}

#title {
	color: #153c50;
}

.input {
	box-shadow: 0 0 0 2px #355f6a;
}

.input_focus {
	box-shadow: 0 0 0 6px #355f6a !important;
}

.ps__thumb-y {
	background-color: black !important;
}