body
{
	background-color: #bde0c9;
	color: black;
}

.button
{
	background-color: #a7ceac;
	border-color: #a7d5b8;
	color: black;
}

#infobar
{
	background-color: #acd0a7;
	color: black;
}

#title
{
	color: #153c50;
}

.input
{
	border-color: #7a9780;
}

.ps__thumb-y
{
	background-color: black !important;
}