body
{
	background-color: #ADD6E0;
	color: black;
}

.button
{
	background-color: #bbd1ff;
	border-color: #bdd3ff;
	color: black;
}

#infobar
{
	background-color: #9cc9d4;
	color: black;
}

.linky 
{
	color: #153c50;
}