body
{
	background-color: #efe8c0;
	color: black;
}

.button
{
	background-color: #cfd6bf;
	border-color: #e5ecd4;
	color: black;
}

#infobar
{
	background-color: #dacfab;
	color: black;
}

#title
{
	color: #153c50;
}

.input
{
	box-shadow: 0 0 0 2px #6e7069;
}

.input_focus
{
	box-shadow: 0 0 0 6px #6e7069 !important;
}

.ps__thumb-y
{
	background-color: black !important;
}