body
{
	background-color: #c1c1c1;
	color: black;
}

.button
{
	background-color: #bdbdbd;
	border-color: #c5c5c5;
	color: black;
}

#infobar
{
	background-color: #adadad;
	color: black;
}

#title 
{
	color: black;
}

.input
{
	box-shadow: 0 0 0 2px #4E4E4E;
}

.input_focus
{
	box-shadow: 0 0 0 6px #4E4E4E !important;
}

.ps__thumb-y
{
	background-color: black !important;
}